@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*input[data-form-type="date"].MuiInputBase-input.MuiOutlinedInput-input{
  padding: 5px !important;
}*/

div #expenseEdit #simple-tabpanel-1 .MuiBox-root .MuiList-root {
  padding:0px 5px; 
}

div #notifications [role=tabpanel] .MuiBox-root{
  padding:0px 5px;
  height: '100%'
}